// Variables
$clrOrange:hsl(31, 77%, 52%);
$clrCyan: hsl(184, 100%, 22%);
$clrDarkCyan:hsl(179, 100%, 13%);
$clrTranspWhite:hsla(0, 0%, 100%, 0.75);
$clrLightGray:hsl(0, 0%, 95%);

$bodyFont: 15px;
$titleFont: 'Big Shoulders Display', cursive;
$paraFont: 'Lexend Deca', sans-serif;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-size: $bodyFont;
  font-family: $titleFont;
    .wrapper{
        max-width: 80%;
        margin:0 auto;
        padding-top: 18%;
        // margin: 18% auto;
        
    
        .card{
        padding:14%;
        color: $clrTranspWhite;
        background-color: $clrOrange;
        
        img{
            width: 20%;
            margin-bottom: 20px;
        }
        .card-title{
            text-transform: uppercase;
            color: $clrLightGray;
        }

        .card-text{
            font-family: $paraFont;
            line-height: 1.8;
            margin-bottom: 45px;
        }
        .card-btn{
            font-family: $paraFont;
            text-decoration: none;
            background-color: $clrLightGray;
            padding: 8px 20px;
            border-radius: 20px;
            color: $clrOrange;
            border: 2px solid $clrLightGray;
            transition: 0.3s ease-in;
            &:hover{
                background-color: transparent;
                color: $clrLightGray;
            }
        }
    }
    .card-1{
        border-radius: 10px 10px 0 0;
    }
    .card-2{
        background-color: $clrCyan;
        .card-btn{
            color: $clrCyan;
        }
    }
    .card-3{
        background-color: $clrDarkCyan;
        border-radius: 0 0 10px 10px;
        .card-btn{
            color: $clrDarkCyan;
        }
    }
}
    footer{
       
        padding: 3% 18%;
        text-align: center;
        color: $clrDarkCyan;
        a{
          text-decoration: none;
          color: $clrDarkCyan;
          transition: 0.3s ease-in;
          
          &:hover{
              color:$clrOrange;
              text-decoration: underline;
              
          }
        }
    }
    }

    @media (min-width:1024px) {
        body{
        .wrapper{
            display: flex;
            padding-top: 8%;
            max-width: 1024px;

            .card.card-1,
            .card.card-2,
            .card.card-3{
                padding: 10% 4%;
            }
            .card.card-1{
                border-radius: 10px 0 0 10px;
            }
            .card.card-3{
                border-radius: 0 10px 10px 0;
            }
        }}
    }
    // @media (min-width:1440px){
    //     .wrapper{
    //         margin: -50% auto;
    //     }
    // }
